certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
jplephem==2.17
MarkupSafe==2.1.0
numpy==1.22.2
pause==0.3
Pillow==9.0.1
python-dateutil==2.8.2
requests==2.27.1
schedule==1.1.0
sgp4==2.20
six==1.16.0
skyfield==1.42
urllib3==1.26.8
Werkzeug==2.0.3
