@font-face {
  font-family: SourceCodePro-Regular;
  src: url(../fonts/SourceCodePro-Regular.ttf);
}

body
{
    margin:0;
    padding:0;
    color:white;
    background-color:#303133;
    font-family: SourceCodePro-Regular;
}

h1{text-align:center;}

.container > div
{
    border: solid 1px white;
}

#map_box
{
    font-size:0.5vw;
}

pre{width:100%;background:black;text-align:center;}

.container {  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.7fr 0.8fr 0.5fr;
  grid-template-rows: 0.1fr 2.1fr 1.6fr 0.8fr 0.6fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". title title title title ."
    ". map_box map_box map_box map_settings_box ."
    ". map_box map_box map_box map_settings_box ."
    ". flyby_box flyby_box flyby_box flyby_settings_box ."
    ". info_box info_box info_box info_settings_box .";
  width: 100%;
}

.map_box { grid-area: map_box; }

.flyby_box { grid-area: flyby_box; }

.info_box { grid-area: info_box; }

.map_settings_box { grid-area: map_settings_box; }

.flyby_settings_box { grid-area: flyby_settings_box; }

.info_settings_box { grid-area: info_settings_box; }

.title { grid-area: title; }




