@font-face {
  font-family: SourceCodePro-Regular;
  src: url(../fonts/SourceCodePro-Regular.ttf);
}

body
{
    margin:0;
    padding:0;
    color:white;
    background-color:#303133;
    font-family: SourceCodePro-Regular;
}

h1{text-align:center;}

.box
{
    margin:auto;
    width:95%;
    border: solid 2px white;
    border-radius:5px;
    position:relative;
    display: table;
    border-collapse: separate;
  border-spacing: 10px;
  background:black;
  margin-bottom:20px;
}

.inner_box
{
    width: 100%;
}

pre{width:100%;background:black;text-align:left;font-size:0.850vw;margin:auto;}

pre > span
{
   display:inline-block;
   width: 0.51vw;
   height:0.1px;
}

form
{
font-size:1vw;
padding:10px;
}

.number_input
{
    width:7ch;
}

.settings
{
    display:flex;
}

.settings > div
{
    display:inline-block;
    height:20px;
    margin-right:10px;
}

.vert_hr
{
    width:1px;
    background-color:white;
}